/* 全畫面置中 */
.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f6f8;
}

/* 登入主容器 */
.login-container {
  width: 70%;
  max-width: 1000px;
  height: 500px;
  display: flex;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

/* 左側 1/3 */
.left-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 右側 2/3 */
.right-panel {
  flex: 2;
  background: #2f80ed; /* 示意用 */
}

/* 表單置中 */
.login-form {
  width: 80%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 12px;
}

.login-form input {
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-form button {
  padding: 10px;
  font-size: 14px;
  background: #2f80ed;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-form button:hover {
  background: #2568c8;
}

/*   */

.form-login{
    display: flex;
    flex-direction: column;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    align-items: center;
    justify-content: center; 
}

.img{
        object-fit: contain;
        max-width: 100%;
        max-height: 100px;
    }

.card-img-top {
  height: 400px;
  max-width: 100%;
  object-fit: contain;
}